<%- include("partials/header") -%>
  <header class="md:col-span-1 md:flex md:justify-end">
    <%- include("partials/navbar") -%>
  </header>
  <main class="md:col-span-5">
    <section class="herosection">
      <div class="hero-overlay bg-opacity-80"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-4xl">
            <p class="mb-5">
              <span class="capitalize font-semibold">
                <%= appSettings.name %>
              </span> is your one stop inventory management system for your
              kitchen, pantry, fridge, and anywhere you store your food.
            </p>
            <p class="mb-5">
              <span class="capitalize font-semibold">
                <%= appSettings.name %>
              </span> can help you reduce or eliminate food waste by letting
              you know when your groceries are about to expire. It can also
              save you money on groceries by letting you know in advance when
              you're running low on items, so you can wait for sales instead of
              buying at full price.
            </p>
            <p class="mb-5">
              If you buy your groceries in bulk, you may not have enough space
              in your kitchen cupboards to store everything. When you use
              <span class="capitalize font-semibold">
                <%= appSettings.name %>
              </span> to track your groceries, not only can you know how many
              of an item you have and when the items are about to expire, you
              can also track where you have the items. Do you keep 3 cans of
              soup in the kitchen cupboard and another 9 in a storage pantry
              in your basement?
              <span class="capitalize font-semibold">
                <%= appSettings.name %>
              </span> can split the quantity of one item between many different
              storage locations, and it can display a "pantry shopping" list,
              letting you know what items from a secondary food storage
              location can be moved into the cupboards in your kitchen.
            </p>
          </div>
      </div>
    </section>
  </main>
<%- include("partials/footer") -%>
